*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style-type: none;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

/* Header */
header {
    background-color: white;
    padding: 1rem;
}
body {
    margin-top: 9rem;
    background-color: grey;
}
#top-banner {
    display: flex;
    justify-content: space-around;
    color: black;    
    padding: .2rem .2rem;
}
.fixed {
    position: fixed;
    top: 0;
    width: 100rem;
}
.navbar {
    height: 70px;
    width: 100%;
    background: rgb(165, 127, 100);
}

.navbar-nav {
    color: white;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
}
.dropdown {
    opacity: 0;
    position: absolute;
    width: 500px;
    z-index: 2;
    background: rgb(165, 127, 100);
    
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 3rem;
    margin-top: 2rem;
    padding: 0.5rem;
   
    transform: translateX(-40%);
    transition: opacity .15s ease-out;
}

.dropdown-item a {
    width: 100%;
    height: 100%;
}
.has-dropdown:focus-within .dropdown   {
    opacity: 1;
    pointer-events: auto;
}
.section-1{
    height: 100rem;
    width: 100rem;
}